body {
    background-image: url("images/aracar-img.jpg");
}

.ui.container {
    padding-top: 5%;
}

/* Left Column */
.column-left {
    background: rgba(115, 128, 146, .8);
}

/* Right Column */

.column-right {
    background: #fefefe;
}

.ui.form input[type=text], .ui.selection.dropdown, .ui.form input[type=text]:focus {
    border-radius: 0rem;
    border: 1px solid rgba(166, 184, 191, 1);
}


.ui.form input[type=text] {
    padding: 0.978571em 1em;

}

.ui.selection.dropdown {
    min-width: 12em;
    padding: 1.078571em 1em;

}

.ui.selection.dropdown>.dropdown.icon {
    top: 1.08571429em;
}


/* Plan Selection */

.ui.fluid.secondary .item.table-title {
    line-height: 1.5rem;
}

.ui.fluid.secondary a.item.table-content {
    border: 1px solid #9fabb5;
    border-radius: 0 !important;
}

.ui.fluid.secondary a.item:hover {
    background: #7a8796;
    color: rgba(255, 255, 255, 0.95);
}


.ui.diver:hover {
    border-top: 1px solid rgba(255, 255, 255, 0.42);
    border-bottom: 1px solid rgba(255,255,255,.1);
}



.ui.button {
    background: #2e444f;
    color: rgba(255, 255, 255, 1);
    border-radius: 0rem;
}

.container-apply-btn {
    text-align: center;
}

.ui.button.apply-btn {
    padding: 1.08571429em 6.5em 1.08571429em;
}

